.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  width: 70%;
  border-bottom: 1px solid #0d09e9;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #333333;
}

input[type='checkbox'] {
  margin-right: 10px;
  font-size: 30px;
}

input[type='checkbox']:focus {
  outline: 0;
}
